.dhwords>li {
    width: 21%;
    height: 100%;
    float: left;
}
.my_jingdong{
    width: 282px;height: 162px;
    background: #fff;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1000;
    height: 0;overflow: hidden;
}
.my_jingdong>.top{
    width: 280px;height: 90px;border-bottom: 1px solid #DDDDDD;
    display: flex;
    font-size: 10px;
    color: #333;
}
.my_jingdong>.top>.my_c{
    justify-content: space-between;
    width: 50%;margin-right: 2px;
    float: left;
}
.my_jingdong>.top>.my_c:nth-child(2){margin-right: 0;}

.my_jingdong>.top>.my_c>li{
    width: 100%;height: 20px;
    padding: 10px; 
}

.my_jingdong .bottom{
    width: 100%;height: 67px;
     display: flex;
    font-size: 10px;
    color: #333;
    padding: 10px;
}
.client_service{
    width: 172px;
    height: 215px;
    background: #fff;
    border: 1px solid #DDDDDD;
    position: absolute;
    top: 30px;
    left: -220px;
    padding: 10px;
    font-size: 10px;
    z-index: 1600;
   /*  height: 0;overflow: hidden; */
   display: none;
}
.client_service li{
    margin-right: 20px;width: 100%;height: 20px;line-height: 20px;
}
.client_service .top{
    width: 100%;
    height: 17px;
    line-height: 30px;
    font-weight: bold;
}
.client_service .client{
    width: 100%;height: 100px;display: flex;border-bottom: 1px solid #DDDDDD;
    padding-left: 10px;padding-top: 10px;
}
.client_service .sh{
    width: 100%;height: 70px;display: flex;
}
.my_jingdong .bottom .my_c2{
    justify-content: space-between;
    width: 50%;margin-right: 2px;
    float: left;
}
.wzdh_con{
    position: absolute;
    top: 30px;right:-76px;
    background: #fff;z-index: 1500;
    width: 1190px;height: 180px;
    border-left: 1px solid  #CCCCCC;
     border-right: 1px solid  #CCCCCC;
    display: flex;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}
.wzdh_con>section{
    width: 25%;height: 100%;
    justify-content: space-between;
    font-size: 10px;
    border-right: 1px solid #CCCCCC;
}

.wzdh_con>section:nth-child(4){border-right: 0;}
.wzdh_con>section .top{
    width: 100%;height: 26px;
    font-weight: bold;
    padding-left: 5px;
}
.wzdh_con>section .bottom{
    width: 100%;height: 130px;
    display: flex;
}
.wzdh_con>section .bottom ul{
    justify-content: space-between;
    height: 100%;
    margin-right: 15px;

}
.wzdh_con>section .bottom ul:nth-child(4){
    margin-right: 0;
}
.wzdh_con>section .bottom ul:nth-child(1){
   padding-left: 5px;
}

.topbar{
    width: 100%;background: #fff;height: 50px;z-index: 1000;position: fixed;
    top: -50px;left: 0;
    border-bottom: 1px solid #F10214;
    z-index: 5000;
}
.topbar_content{
    width: 1226px;margin: 0 auto;height: 50px;position:relative;
}

.topbar_content .left {
    width: 160px;
    margin-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 28px;
}
.topbar_content .left span{font-size: 15px;}
.topbar_content input{
    width: 490px;height: 30px;outline: none;position: absolute;top: 11px;left: 320px;
    padding-left: 10px;border: none;
}
.topbar_content .r_sousuo{
    width: 50px;height: 30px;background: #C40000;position: absolute;top: 11px;left: 808px;
}
.topbar_content .r_sousuo .ss{
    width: 20px;
    height: 20px;
    position: absolute;
    left: -3px;
    right: 0;
    top: 0;
    bottom: 51px;
    margin: auto;
    font-size: 23px;
    color: #fff;
}
*{margin:0;padding:0;box-sizing: border-box;}
.t{width: 100%;height: 80px;text-align: center;background: #260C0C}
.ding{width: 1190px;height: 100%;margin:0 auto;}
.shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
.shortcut .w {
	width: 1190px;
    height: 30px;
    line-height: 30px;
    color: #999;margin: 0 auto;
}
.shortcut .w .left{
	width: 257.56px;
    height: 30px;
    line-height: 30px;
    color: #999;float: left;
}
.shortcut .beijing {
    height: 28px;
    line-height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
}
.shortcut .beijing .bt{
	    color: #999;float: right;
        font-size: 10px;
}
.shortcut .beijing .dizhi{
     width: 13px;
    height: 16px;
    position: absolute;
    right: 44px;
    top: 3px;
    font-size: 20px;color: red;
}
.shortcut .right{
	width: 703px;height: 100%;float: right;font-size: 10px;
}
.shortcut .right>li{
	float: left;margin-right: 14px;
    height: 30px;position: relative;
}
.shortcut .right>li span{margin-left: 13px;}
li{list-style: none;}
.shortcut .right>li>a{
    height: 30px;position: relative;
}
.shortcut .right>li:nth-child(9){margin-right: 0;
    position: relative;}
.rewm{    position: absolute;
    top: 0px;
    right: -500px;
    z-index: 1000;}

.sjjd{
    width:192px ;height: 320px;
    background: #fff;
    position: absolute;
    left: -100px;top: 22px;
    z-index: 1510;
    height: 0;
    overflow: hidden;
    transition: all 1s;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.sjjd .c1{
    width: 100%;height: 100px;
    border-bottom: 1px solid #ccc;
}
.sjjd .c1 .left{
    width: 85px;height: 100px;
    padding: 10px 0px 10px 7px;
    float: left;
}
.sjjd  .c1 .left img{width: 100%;height: 100%;}
.sjjd  .c1 .right{
    width: 105px;height: 100px;
    padding: 10px 2px 10px 10px;
    float: left;
}
.sjjd  .c1 .right .p1{
    font-size: 8px;line-height: 14px;font-weight: bold;
}
.sjjd  .c1 .right .p2{
    font-size: 8px;line-height: 14px;
    color: red;
}
.sjjd  .c1 .right .bottom{
    width: 100%;
    height: 28px;
    padding: 5px;
}
.sjjd  .c1 .right .bottom img{
    width: 100%;height: 100%;
}
/* .istwo{display: none;}
 */

.shortcut .right>li a:hover{color:#E01222;}

.headerbox{
	width: 100%;height: 140px;background: #F6F6F6;
}
header{
	width: 1190px;height: 140px;background: #F6F6F6;margin: 0 auto;position: relative;
}
.logo {
	position: absolute;
    z-index: 2;
    left: 0;
    top: -31px;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color: #fff;
}
.ss{
	width: 1190px;height: 70px;text-align: center;padding-top: 26px;
	 position: relative;float: left;

}
.ssinput{
	outline: none;border: 1px solid #F10215;padding-left: 4px;width: 490px;
    height: 35px;line-height: 25px;font-size: 14px;color: #989898;padding: 4px;
   float: left;margin-left: 300px;
}
.ssr{
	width: 50px;height: 35px;background: #F10215;
	position: absolute;right: 350px;top: 26px;
     color: #fff;padding-top: 3px;
}
.cart{
	width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;float: left;margin-left: 77px;
}
.cart>a{
	    color: #f10214;width: 188px;height: 33px;
        position: relative;font-size: 10px;
}
.cart>a .che{
    font-size: 23px;
    color: red;
    position: absolute;
    top: -8px;
    left: -40px;
    width: 30px;
    height: 33px;
}
.cart>a .ling{
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: -8px;
    right: -36px;
    width: 30px;
    height: 33px;
    z-index: 10;
}
.cart>a .ling_bg{
    position: absolute;
    top: 0px;
    right: -30px;
    width: 18px;
    border-radius: 50%;
    background: red;
    height: 18px;
    z-index: 5;
}
.hotwords {
    overflow: hidden;
    width: 542px;
    height: 20px;
    line-height: 20px;
    margin-left: 300px;color: #666;
}
.hotwords span{margin-right: 10px;}
.hotwords:nth-child(1){color: #f10215;}
.hotwords span a:hover{color: #E01222;}
.dhwords{width: 297px;height: 40px;line-height: 40px;
	margin-left: 220px;float: left;}
.dhwords a:hover{
    color: #E01222;
}
.dhwords li a{text-align: center;float: left;font-size: 16px;color: #000;
margin-right: 30px;}
.dhwords li a:nth-child(4){margin-right: 0}
    
.first{
	width: 100%;height: 480px;background: #F6F6F6;
}
.first>.content{
	width: 1190px;height: 100%;margin: 0 auto;
}
.first .menu {
	width: 190px;float: left;margin-right: 10px;
    overflow: hidden;
    padding: 15px 0;
    height: 480px;
    background-color: #6E6568;
    color: #fff;float: left;
}
.menu>li {
    width: 100%;
    overflow: hidden;
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    position: relative;
}
.dianqibox .right_con{
    position: absolute;
    width:200px;
    height:100%;
    padding:20px;
    top:0;
    right:20px;
}
.dianqibox .right_con .first{
    width: 100%;
    height: 36px;
    display: flex;
    margin-bottom: 2px;
}
.dianqibox .right_con .first div{
    width: 50%;
    height: 36px;
    justify-content: space-between;
    margin-right: 2px;
}
.dianqibox .right_con .first .right{
    margin-right: 2px;
    background: red;
}
.dianqibox .right_con .first .right>img{
    width: 100%;height:100%;
}
.dianqibox .right_con .second{
    width: 100%;height: 135px;background: lime;
}
.dianqibox .right_con .second>img{
    width: 100%;height:135px;
}
.dianqibox .right_con .first .left>img{
    width: 100%;height:100%;
}
.dianqibox .right_con .first .left{
    background: #000;
}
.dianqibox{
    position: absolute;left:269px;
    width: 1005px;height: 505px;background: #F6F6F6;
    z-index: 100000;
    font-size: 10px;color: #333;text-align: center;
    padding: 10px;
    display: none;
}
.dianqibox .top{
    width: 100%;
    height: 32px;
    padding-top: 5px;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
}

.dianqibox .item{
    width: 75%;
    height: 24px;
    text-align: left;
    padding-left: 10px;
    margin: 9px 0;
    border-bottom: 1px solid #EEEEEE;
}
.dianqibox .item>span{
    display: inline-block;
    padding: 2px 1px;
}
.a{
    color:#EEEEEE ;
}
.dianqibox .item>span:nth-child(1){
    border-right:1px solid #ccc;
    margin-right: 5px;
    width: 75px;
}
.dianqibox .top span{
    width: auto;background: #6E6568;
    color: #fff;
    padding: 5px 5px;
}

.menu>li>a{color: #fff;width: 30px;height: 30px;
    float: left;}
.menu_line {
    padding: 0 4px;
    font-size: 12px;float: left;
}
.first .content .middle{
	width: 790px;height: 100%;float: left;
}
.banner{
	width: 790px;height:340px;overflow: hidden;
	position: relative;
	margin-bottom: 10px;
    position: relative;
}
.banner_pre,.banner_next{
    width: 25px;height: 50px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;bottom: 0;
    margin: auto;
    z-index: 1000;
    font-size: 25px;
    color: #fff;
    padding-top: 15px;
    cursor: pointer;
}
.banner_pre:hover{
    background: rgba(0, 0, 0,0.4)
}
.banner_next:hover{
    background: rgba(0, 0, 0,0.4)
}
.banner_pre{
    left: 0;
    padding-left: 5px;
}
.banner_next{
    right: 0;
    padding-left: 5px;
    transform: rotate(180deg)
}
.banner_pre:hover{
     background: rgba(0, 0, 0, 0.5);
}
.banner_next:hover{
     background: rgba(0, 0, 0, 0.5);
}
.bannerlist{
	width: 790px;height: 340px;
    position: relative;
}
.bannerlist img{
    width:790px;height: 100%;
    position: absolute;
    left: 0;top: 0;
    opacity: 0.5;
    transition: all 1s;
}
.banner>img{
    width:790px;height: 100%;
/*     position: absolute;
    left: 0;top: 0;
    opacity: 0.5; */
}

.lbbtnbox {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 0;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: hsla(0,0%,100%,.3);
    margin-left: -113px;
    z-index: 10000;
    background: rgba(255,255,255,0.2);
}
.lbbtn {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
}
.b_active{
    background: #DB192A;  
}
.lbbtn:nth-child(1){
     background: #DB192A;   
}
.lbbtn:nth-child(8){
    margin-right: 0
}
.bannerxia {
    margin-left: -10px;
    height: 130px;
    width: 800px;height: 130px;
    clear: both;
}
.bannerxia .con {
    overflow: hidden;
    float: left;
    margin-left: 10px;
    width: 390px;
    height: 130px;
}
.first .content .right{
	width: 190px;height: 100%;float: right;background: #fff;
}
.user {
    padding: 0 15px;
    height: 115px;
    border-bottom: 1px solid #e6e6e6;
}
.user_info {
    overflow: hidden;
    position: relative;
    padding: 15px 0 15px 58px;
    height: 61px;
}
.touxiang {
    overflow: hidden;
    position: absolute;
    margin-left: -58px;
    width: 50px;
    height: 50px;
}
.touxiang img {
    display: block;
    height: 40px;
    margin: 5px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}
.user_info_show p {
    overflow: hidden;
    margin-top: 2px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.user_profit {
    overflow: hidden;
    height: 24px;
    font-size: 0;
    margin-right: -10px;
    width: 100%;
    margin-top: 10px;
}
.user_profit_lk {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 24px;
    border: 2px solid #e01222;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    color: #e01222;float: left;
}
.user_profit_lk:hover{
    background: #e01222;
    color: #fff;
    border: 0;
}
.user_profit_lk a{
    color: #e01222;
}
.user_profit_lk a:hover{
    color: #fff;
    line-height: 24px;
}
.news {
	width: 100%;    overflow: hidden;
    padding: 0 15px;
    height: 154px;
}
.news>.top {
    padding: 8px 0 4px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    line-height: 14px;
    height: 27px;font-size: 10px;
}
.news>.top >li{float: left;
    color: #333;
    padding-right: 12px;
    padding-left: 12px;
    width: 33%;
}
li{text-align: center;}
.news>.top >li:nth-child(1){
    color: #333;
    padding-right: 12px;
    padding-left: 12px;
    border-right: 1px solid #dfe0e1;
    cursor: pointer;
    position: relative;
}
.news>.top >li:nth-child(2){
    cursor: pointer;
    position: relative;
}
/*.b_logo>li:nth-child(6){*/
    /*border-right:0;*/
/*}*/
/*.b_logo_box>li:nth-child(6){*/
    /*border-right:0;*/
/*}*/
.ggcx{
    position: absolute;
    bottom: -5px;
    left: 8px;
    right: 0;
    width: 30px;
    height: 3px;
    background: #E01222;
    transition: all 0.5s;
}
.cc1:hover .ggcx{
    transform: translate(50px,0);
}
.cc1:hover .news2{
    display: block;
}
.cc1:hover .news1{
    display: none;
}
.news>.content {
    padding: 12px 0;
    width: 160px;height: 120px;
    position: relative;
}
.news_list{
    position: absolute;
    left: 0;
    top: 0;
}
.news2{
    display: none;
}
.news_list>li{
    line-height: 25px;
    height: 25px;
    width: 100%;
}
.news_list>li>a{
    width: 160px;height: 25px;font-size: 10px;
}
.service{
	width: 190px;height: 210px;
    position: relative;
}

.hf_hidden{
    width: 100%;height: 100%;background: #fff;
    position: absolute;
    top: 0;left: 0;
    z-index: 100;
    border-top: 1px solid #ccc;
    display: none;
    transition: all 0.5s;
}
.hf_hidden>.top{
    width: 100%;height: 26px;
    display: flex;
}
.hf_hidden>.top>li{
    justify-content: space-between;
    width: 25%;
    border-right: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}
.hf_hidden>.top>li:last-child{
    border-right: 0
}
.hf_hidden>.top>li:first-child{
    border-top: 2px solid red;
}
.hf_hidden .type{
    width: 100%;height: 34px;
    padding: 10px 2px;
    font-size: 12px;
    text-align: center;

}
.hf_hidden .type>span{
    margin-right: 3px;
    position: relative;
}
.hf_hidden .type>span.active{
    background: red;color: #fff;
}
.hf_hidden .type>span.active .kuai{
    display: block;
}
.hf_hidden span .kuai{
    width: 6px;height: 6px;background: red;
    position: absolute;
    left: 0;right: 0;
    margin: auto;
    transform: rotate(45deg);
    top: 12px;
    z-index: -1;
    display: none;
}
.haoma{
    width: 100%;height: 28px;
    font-size: 12px;
    padding: 5px 5px;
}
.haoma sapn{
    width: 40px;
}
.haoma input{
    width:95px;
    outline: none;
    display: inline-block;
    margin-left: 3px;
}
.hf_hidden .mianzhi{
    width: 100%;height: 35px;
    padding: 8px 5px;
    font-size: 10px;
}
.hf_hidden span.mz{
    width: 29px;
    display: inline-block;
}
.hf_hidden .yuan{
    width: 50px;
    display: inline-block;
}
.hf_hidden .yuan2{
    color: red;
    text-align:left;
    display: inline-block;
    width: 90px;
}
.fast_cz{
    font-size: 12px;
    color: #fff;
    width: 85px;
    margin-left: 10px;
    background: red;
    padding: 5px 0;
    text-align: center;
    height:24px;
    line-height: 15px;
}
.hf_hidden .bot{
    width: 100%;height: 50px;
    font-size: 12px;
   padding: 10px 10px;
   line-height: 30px;
}
.hf_hidden .bot span.hot{
    width: 38px;
    height: 18px;
    background: blue;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
    line-height: 18px;
}
.hf_hidden .bot span.qi{
    color: blue;
}

.hf_hidden .bot .hot2{
    width: 57px;
}
.dancheng{
    font-size: 12px;
    padding-left: 10px;
    line-height: 26px;
}
.hf_hidden .city{
     position: relative;
     width: 79%;
}
.hf_hidden .city input{
    width: 128px;
    height: 20px;
    margin: 6px;
    padding-left: 46px;
   
}
.hf_hidden .city .chufa{
    width: 40px;
    background: #ccc;
    position: absolute;
    position: absolute;
    top: 7px;
    left: 7px;
    font-size: 14px;
    text-align: center;
}
.dancheng input:nth-child(2){
    margin-left: 20px;
}
.hf_hidden .close{
    width: 12px;height: 12px;
    background: url('../img/close.png') center center no-repeat;
    background-size: 100%;
    position: absolute;
    top: 24px;
    right: 0px;
}

.hf_hidden .type span:hover{
    background: red;
    color: #fff;
    cursor: pointer;
}
.hf_hidden .type>span#yz{
    display: inline-block;width: 40px;
}
.service  .service_list .hf_hidden .type>span{
    width: 40px;
    display: inline-block;
    margin-right: 10px;
}
.game_pic{
    width: 100%;
    height: 129px;
    padding: 10px;
    display: flex;
}
.game_pic img{
    justify-content: space-between;
    margin-right: 10px;
}
.game_pic img:nth-child(2){
    margin-right: 0;
}
.service .service_list .hf_li:hover .hf_hidden{
    display: block;
}
.hf_c,.jp_c,.yx_c,.jd_c{
    display: none;
}


body{color: #666;}
.service>.content {
    overflow: hidden;
    width: 190px;
}
.service_list {
    margin-left: -1px;
    width: 192px;
    height: 210px;
    overflow: hidden;
}
.service_list>li{
  /*   position: relative;
    overflow: hidden; */
    float: left;
    width: 47px;
    height: 69px;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    text-align: center;font-size: 10px;
}
.service_list>li:nth-child(4n){
	border-right: none;
}
.service_list>li .s_top{
	width: 30px;height: 40px;margin: 0 auto;text-align: center;padding: 10px 0;
}

.miaosha{
	width: 100%;height: 315px;overflow: hidden;padding-top: 10px;background: #F6F6F6;
}
.miaosha>.content{
	width: 1190px;height: 100%;margin: 0 auto;overflow: hidden;
}
.miaosha>.content>.top{
	width: 100%;
	position: relative;
    padding: 0 20px 0 30px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    background: url('../img/1/seckill_hd.png') no-repeat 0 0;
}
.ms_hd_left {

    background-position: -190px -48px;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    position: absolute;
    left: -4px;
    top: -4px;
    width: 28px;
    height: 28px;
}
.ms_hd_icon {
    margin-top: 8px;
    margin-right: 8px;
    /* background-image: url('../img/jiao/jiao_02.png'); */
    width: 34px;
    height: 40px;float: left;
}
.miaosha_tit {
    font-family: fzzhengheis-el-gbregular;
    font-size: 24px;
    line-height: 35px;
    height: 40px;
    padding-top: 9px;
    float: left;
}
.ms_subtit {
   
    float: left;
    margin-top: 19px;
    padding-right: 20px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-left: 10px;
    position: relative;
}
.mm_more{
    font-size: 20px;
    position: absolute;
    right: -7px;top: 1px;
    width: 20px;height: 20px;
}
.ms_subtit>a{    
    color: #fff;width: 126px;height: 24px;
     position: relative;
}
.ms_hd_right {
	float: right;
	width: 269px;height: 55px;
    position: relative;
    padding: 0 ;
    height: 55px;
    line-height: 55px;
    color: #fff;
}
.dangqiancc {
	color: #fff;
    float: left;
    line-height: 45px;
    padding-top: 10px;
    font-size: 14px;
}
.shijian {
	width: 129px;height: 47px;
    float: left;
    margin-left: 6px;
    margin-right: 8px;
}
.shijian>.item {
    float: left;
    width: 35px;
    height: 37px;
    background-color: #440106;
    color: #f90013;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 37px;
    margin-top: 10px;
}
.shijian .cd_split {
    float: left;
    margin: 20px 4px 0;
    width: 4px;
    height: 12px;
    font-size: 18px;
    line-height: 1;
    color: #440106;
}
/* 内容大盒子 */
.miaosha>.content .middle{
	padding: 12px 0 13px;
    height: 253px;
    overflow: hidden;
    width: 100%;
}
.miaosha>.content .middle>.left{
	padding: 0px 0 13px;
    height: 225px;
    overflow: hidden;
    width: 1000px;float: left;
    background: #fff;
    position: relative;
}
.miaosha>.content .middle .pro_list{
	width: 2000px;height: 100%;
    transition: all 1s;
}
.miaosha>.content .middle .pro_list>li{
	float: left;  position: relative;
    width: 200px;
    height: 225px;
    padding: 0 14px 0 15px;
    border-right: 1px solid #e7e7e7;text-align: center;
    overflow: hidden;
}
.pro_list>li>img {
    position: relative;
    width: 71%;
    height: 50%;
    transition: all 0.6s;
    top: 20px;
}
.pro_list>li>img:hover{
    transform: translate(0,-5px);
}
.pro_list>li>.pro_des {
    color: #999;
    display: block;
    max-width: 100%;

    overflow: hidden;
    font-size: 12px;
    text-align: left;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 36px;
}
.shadow {
    position: absolute;
    left: 0;
    top: 130px;
    text-align: center;
    background-image: url('../img/1/sprite_index@1x.png');
    background-position: 0 0;
    -moz-background-size: 218px 188px;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
}
.pro_list>li>.price {
    padding: 3px 0;
    height: 25px;
}
.price_new {
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
    color: #f10214;
}
.price_old {
   color: #999;
    font-size: 12px;
}
.ms_special {
    margin: 0 10px 0 0;
    float: right;
    padding-top: 11px;
    background: #fff;
}
.ms_special_pic {
    display: block;
    width: 180px;
    height: 214px;
}

.find{
	width: 100%;height: 484px;background: #F6F6F6;padding-top: 40px;
}
.find_content{
	width: 1190px;height: 100%;margin: 0 auto;
	display: flex;background: #fff;
}
.find_content>div{
	justify-content: space-between;width: 33%;height: 100%;
	margin-right: 10px;position: relative;
}
.find_content>div:nth-child(3){margin-right: 0}
.f_c_top,.f_c_top2,.f_c_top3 {
    position: relative;
    padding: 0 20px 0 30px;
    height: 55px;width: 100%;
    line-height: 55px;
    color: #fff;
    background-size: 100%;
}
.f_c_top{
	background: url('../img/blbg.jpg') center center no-repeat;
}
.f_c_top2{
	background: url('../img/pubg.jpg') center center no-repeat;
}
.f_c_top3{
	background: url('../img/orbg.jpg') center center no-repeat;
}
.haohuo{
	width: 390px;height: 389px;padding:10px 10px;
}
.haohuo>li{
	width: 50%;height: 121px;padding-left: 20px;padding-top: 20px;
	border-right: 1px solid #E7E7E7;
	border-bottom: 1px solid #E7E7E7;float: left;position: relative;
}
.haohuo>li:nth-child(2n){
	border-right: none;
}
.haohuo>li:nth-child(5){
	border-bottom: none;
}
.haohuo>li:nth-child(6){
	border-bottom: none;
}
.haohuo_name {
    font-size: 14px;
    color: #4998a1;
    width: 80px;
    line-height: 20px;
    z-index: 1;
    word-wrap: break-word;
}
/* a{display: block;height: 121px;} */
.haohuo_img {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 80px;
    height: 80px;
    transition: all 0.6s;
}
.haohuo_img:hover{
    transform: translate(-10px,0);
}
.youpin {
    display: block;
    width: 360px;
    height: 168px;
    margin: 0 15px 18px;
    padding-top: 18px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    position: relative;
}
.hhlunbo{
    position: absolute;
    bottom: 0;
    left: 0;
}
.find .iconfont {
    font-size: 12px;
}
.find .banner_next{
    right: 18px;
    padding-left: 5px;
}
.find .banner_pre {
    left: 18px;
    padding-left: 5px;
}
.find .banner_pre {
    width: 18px;
    height: 42px;
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 20px;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    font-size: 10px;
    color: #ccc;
    padding-top: 15px;
    cursor: pointer;
    opacity: 0;
}
html,body{
    overflow-x: hidden;
}
.find .banner_pre{
    width: 18px;
    height: 42px;
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 20px;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    font-size: 10px;
    color: #ccc;
    padding-top: 15px;
    cursor: pointer;
    opacity: 0;
}
.b_logo_box>ul>li>a{
    display: block;
}
.b_logo_box>ul{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    padding:0 5px;
}
.yp_lb_box li.active{
    background: #C40000;
}
.find .banner_pre:hover{
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}
.find .banner_next:hover{
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}
.xiannv .hhlunbo.active{opacity: 1;z-index: 2}
.firstul,.secondul{overflow: hidden;}


.yp_lb_box.active{
    background: #E01222;
}
.yp_lb_box{
    width: 70px;height: 15px;margin: 0 auto;
    display: flex;
    position: absolute;
    left:0;right: 0;
    bottom: 5px;
    z-index: 1000;
}
.yp_lb_box>li{
    width: 8px;height: 8px;
    justify-content: space-between;
    margin-right: 15px;
    background: #C8C8C8;
    border-radius: 50%;
    cursor: pointer;
}
.yp_lb_box>li:nth-child(3){
    margin-right: 0;
  /*   background: #E01222; */
}
.youpin .sub_desc {
    font-size: 14px;
    line-height: 16px;
    color: #666;
    text-indent: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.youpin .sup_img {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 0 2px;
    vertical-align: top;
}
.fenge{
	width: 76%;height: 1px;
	margin: auto;background: #E7E7E7;margin-bottom: 15px;
}
.phb_head {
    padding: 6px 0 7px;
    font-size: 0;
    border-bottom: 1px solid #e7e7e7;
    width: 370px;
    height: 32px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}
.phb_head>.item {
    display: inline-block;
    line-height: 18px;
    font-size: 14px;
    width: 70px;
    border-right: 1px solid #d2d1d1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;margin-left: 2px;margin-right: 2px;
}
.phb_head>.item a{
	width:70px;height: 18px;text-align: center;
}
.phb_head>.item:nth-child(5){border-right: none;}
.di>.phbcontent {
    width: 360px;
    height: 335px;
    background: #fff;
    margin: 0 auto;}
.phbcontent>.item {
	width: 120px;height: 167px;
    position: relative;
    float: left;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding-top: 10px;
}
.phbcontent>.item:nth-child(3n){
	border-right: 1px solid #e7e7e7;
}
.phbcontent>.item:nth-child(4){
	border-bottom:none;
}
.phbcontent>.item:nth-child(5){
	border-bottom: none;
}
.phbcontent>.item:nth-child(6){
	border-bottom:none;
}
.phbcontent>.item>a>.pic{
	width: 122px;height:100px;margin-bottom: 10px;
}
.phbcontent>.item>a>.pic img{
	height: 100px;margin: auto;
}
.phbcontent>.item>a>.name1 {
    height: 32px;
    text-align: left;
    padding: 0 11px;
    line-height: 16px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;font-size: 10px;
}
.rank{
	width: 30px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 11px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 22px;
}
.rank>img{
	width: 100%;height: 100%;
}
.rank_word{
	position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;
}


.lingquan{
	width: 100%;height: 245px;padding-top: 30px;background: #E0E0E0;
}
.lingquan>.content{
	width: 1190px;height: 100%;margin: 0 auto;
}
.lingquan>.content>.left{
	width: 190px;height: 215px;float: left;padding: 25px;background:#EA3524;
	color: #fff;
}
.lq_tit {
    overflow: hidden;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 30px;
    font-family: fzzhengheis-el-gbregular;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lq_gap {
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 55px;
    height: 3px;
    background-color: #fff;
}
.meiqiangdao_txt {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lq_go_btn {
    display: block;
    position: relative;
    margin-top: 20px;
    padding: 2px 35px 4px 15px;
    height: 29px;
    border: 2px solid #fff;
    line-height: 20px;
    overflow: hidden;
}
.lq_btn_ico {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 15px;
    height: 16px;
}

.lingquan>.content>.right{
	width: 1000px;height: 215px;float: left;
	color: #fff;padding: 10px 0;
        background: #fff;
}
.lq_list{
	width: 100%;height: 100%;display: flex;
}
.lq_list>li{
	width: 20%;height: 100%;justify-content: space-between;
	border-right: 1px solid #e7e7e7;float: left;background: #fff;
}
.lq_list>li:nth-child(5){border-right: none;}
.lq_list>li a{position: relative;}
.lq_list>li a img {
    overflow: hidden;
    position: absolute;
    left: -40px;
    top: 25px;
    width: 140px;
    height: 140px;
}
.lq_above {
    position: absolute;
    z-index: 1;
    /* left: 15px; */
    top: 15px;
    width: 100px;
    height: 180px;
    border-top: 3px solid #e93524;
    background-color: #fff;
    background: url(../img/lq.png) center center no-repeat;
    padding-left: 3px;
}
.lq_above>.price {
	position: absolute;
    overflow: hidden;
    margin-top: 7px;
    height: 36px;
    line-height: 36px;
    font-size: 34px;
    font-weight: 700;color: #f10214;
}
.lq_above>.price>i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}
.lq_above>.des {
    overflow: hidden;
    margin: 3px;
    height: 36px;
    line-height: 18px;
    color: #e93524;
    position: absolute;
    left: 0;right: 0;top:43px;
}
.lq_above .xiaofei{
    overflow: hidden;
    padding: 15px 10px;
    width: 100px;
    height: 49px;
    color: #666;
    position: absolute;
    bottom: 47px;
    left: 0;
    right: 0;
}
.haoquan_more {
    overflow: hidden;
    width: 100%;
    height: 26px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;right: 0;bottom: 0px;
}

.see{
    width: 100%;height: 160px;padding: 30px 0;background: #F6F6F6;
}
.see>.content{
    width: 100%;height: 100%;background:  #E0E0E0;
}
.see>.content .middle{
    width: 1190px;height: 100%;background: #E0E0E0;margin: 0 auto;
    display: flex;
}
.see>.content .middle>li{
    justify-content: space-between;width: 33.33%;height: 100%;float: left;
}
.see>.content .middle>li a{
    display: block;width: 396px;height: 100px;
}
.see>.content .middle>li img{
    width: 100%;height: 100%;
}
.pz{
    width: 100%;height: 585px;background: #F6F6F6;
}
.pz>.content{
    width: 1190px;height: 100%;margin: 0 auto;
}
.pz>.content>.top{
    overflow: hidden;
    padding: 0 0 20px;
    height: 35px;
    background: url('../img/pzdian.png') repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.pz>.content>.top>.bt1 {
    display: inline-block;
    background-color: #f6f6f6;
    font-size: 26px;
    color: #333;
    font-family: fzzhengheis-el-gbregular;
    width: 55%;
    margin: 0 auto;
    background: #F6F6F6;
    width: 224px;
}
.pz .content1{
    width: 100%;height: 539px;
}
.pz .content1 .left {
    margin-top: 10px;
    width: 800px;
    height:539px;float: left;
}
.pz .content1 .left>li{
    width: 390px;margin-right: 10px;margin-bottom: 10px;
    float: left;
    position: relative;
    overflow: hidden;
}
.pz .content1 .left>li>a{
    width: 390px;
    height: 170px;
}
.pz .content1 .left>li>a>img{
    width: 100%;height: 100%;
    transition: all 0.6s;
}
.pz .content1 .left>li>a>img:hover{
    transform: translate(-5px,0);
}
.pz .above{
    width: 140px;height: 166px;position: absolute;top: 0;left: 0;z-index: 2;
    padding: 45px 19px;color: #fff;
}
.shoufa{
    background: #59b07d;opacity: 0.9;
}
.huiguang{
    background: #d9cc62;opacity: 0.9;
}
.jdcs{
    background: #d58717;opacity: 0.9;
}
.baitiao{
    background: #7e5944;opacity: 0.9;
}
.scdp{
    background: #534b5d;opacity: 0.9;
}
.znsh{
        background: #3b838c;opacity: 0.9;
}
.pz .above>.tit {
    overflow: hidden;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    font-family: 微软雅黑;
    width: 100px;
    margin: 0 auto;
}
.pz .above>.tit2 {
    overflow: hidden;
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
    font-size: 14px;
}
.pz .content1>.right{
    width: 390px;height: 360px;float: left;
    margin-top: 10px;
}
.pz .content1>.right .main{
    width: 390px;height: 350px;overflow: hidden;
    position: relative;margin-bottom: 10px;
}
.pz .content1>.right .main>.list{
    width: 390px;height: 350px;
}
.pz .content1>.right .main >.list li{
    position: relative;
    width: 390px;height: 350px;
}
.pz .content1>.right .main >.list li a{
     width: 390px;height: 350px;
}
.pz .content1>.right .main >.list li a>.img1{
    width: 390px;height: 350px;
    position: absolute;
    left: 0;
    top: 0;
    transition:all 2s ;
}
.pz .mask{
    width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);
    position: absolute;left: 0;top: 0;
    z-index: 10000;
}
.jdzbbox {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 0;
    padding: 4px 8px;
    border-radius: 12px;
    margin-left: -40px;
    z-index: 20000;
}
.b_active {
    background: #DB192A;
}
.jdzbbox .lbbtn {
    display: inline-block;
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    transition:all 2s ;
    cursor: pointer;
}
.jdzbpic{
    width: 390px;height: 350px;
    position: absolute;
    left: 0;
    top: 0;
}
.jdzbbox .lbbtn:nth-child(5){
    margin-right: 0;
}
.pz .mask .top{
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 48px;
    color: #fff;
    background: rgba(0,0,0,.57);
}
.pz .mask .top>.bt1 {
    line-height: 38px;
    text-indent: 24px;
    font-size: 16px;
    background: none;
    color: #fff;
    line-height: 48px;
    float: left;
}
.pz .more {
    margin-top: 19px;
     height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin-left: 212px;
    float: right;
    line-height: 14px;
}
.play_btn{
    width: 66px;height: 66px;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;margin: auto;
    z-index: 10000;
}
.pz .mask .wenzi{
    font-size: 16px;color: #fff;line-height: 25px;
    width: 73%;text-align: center;margin: 0 auto;
    position: absolute;bottom: 66px;left: 0;right: 0;
}
.clock{
    width: 23px;height: 23px;
    position: absolute;left: 12px;top: 0;
}
.pz .mask .wenzi2{
    font-size: 14px;color: #fff;line-height: 25px;
    width: 73%;text-align: center;margin: 0 auto;
    position: absolute;bottom: 42px;left: 0;right: 0;
}
.pz .prebtn,.pz .nextbtn{
    position: absolute;
    top: 145px;
    background: #2d2d2d;
    background: rgba(0,0,0,.42);
    width: 20px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    z-index: 20000;
    cursor: pointer;
        font-size: 10px;
}
.pz .prebtn{
    left: 0;
}
.pz .nextbtn{
    right: 0;
}
.pz .prebtn:hover{
    color: red;
}
.pz .nextbtn:hover{
    color: red;
}
.iconfont{
    font-size: 12px;
}
.prebtn_b,.nextbtn_b{
    font-size: 12px;
    position: absolute;
    top: -6px;
 /*    background: rgba(0,0,0,.42); */
    width: 20px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    z-index: 1000;
    font-size: 13px;color: #fff;
    cursor: pointer;
    user-select: none;
}
.prebtn_b{
    left: 8px;
}
.nextbtn_b{
    right: 8px;
}
.prebtn_b:hover{
    color: #000;
}
.nextbtn_b:hover{
    color: #000;
}
.pz .content1>.right .bottom{
    height: 170px;width: 100%;display: flex;
}
.pz .content1>.right .bottom>li{
    justify-content: space-between;width: 50%;
        margin-right: 10px;
}
.pz .content1>.right .bottom>li:nth-child(2){
    margin-right: 0;
}
.pz .content1>.right .bottom>li>a{
    margin-right: 10px;height: 100%;background: red;position: relative;
}
.r_hh{
    width: 100%;height: 100%;
}
.qqjh_box{
    width: 100%;height: 80px;
    padding: 10px 0 0;
    text-align: center;
    background: #642663; opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
    top: auto;color: #fff;
}
.qqjh_box .tit {
    overflow: hidden;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    font-family: 微软雅黑;
    width: 100px;
    margin: 0 auto;
}
.qqjh_box .tit2 {
    overflow: hidden;
    margin-top: 5px;
    height: 32px;
    line-height: 16px;
}

.live{
    width: 100%;height:603px;background: #F6F6F6;
}
.live>.content{
    width: 1190px;height: 100%;margin: 0 auto;
}
.live>.content>.top{
    overflow: hidden;
    padding: 0 0 20px;
    height: 54px;
    background: url('../img/pzdian.png') repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.live>.content>.top>.bt1 {
    display: inline-block;
    background-color: #f6f6f6;
    font-size: 26px;
    color: #333;
    font-family: fzzhengheis-el-gbregular;
    width: 55%;
    margin: 0 auto;
    background: #F6F6F6;
    width: 224px;
}
.live .content .content2{
    width: 100%;height: 518px;display: flex;
}
.live .content .content2>.con{
    width: 50%;height: 100%;float: left;margin-right: 10px;justify-content: space-between;
    background: #fff;
}
.live .content .content2>.con:nth-child(2){
    margin-right: 0;
}
.live .content2 .con .top{
    width: 100%;
    height: 58px;background: #9A4475;
    padding: 16px 20px 16px 25px;
}

.live .content2  .top .tit {
    float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    /* max-width: 100px; */
    font-family: 微软雅黑;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.live .content2  .top .ewm {
    float: left;
    position: relative;
    height: 26px;
    z-index: 10;
    margin-left: 15px;
    padding-top: 7px;
}

.live .content2  .top .dh {
    width: 419px;
    float: right;
    max-width: 440px;
    height: 28px;
    text-align: right;
    overflow: hidden;
}
.live .content2 .top .dh .item {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    border-color: #c187af;
    background: #B06991;
}

.live .content2 .m_left{
    float: left;
    width: 193px;
    height: 260px;
    overflow: hidden;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 10px;
}

.live .content2 .m_left>img{
    width: 100%;height: 100%;
}
.live .content2 .m_right {
    float: left;
    width: 396px;
    height: 260px;
    position: relative;
    overflow: hidden;background: #fff;
        padding: 0 10px;

}

.live .content2 .m_right2 {
    float: left;
    width: 396px;
    height: 260px;
    position: relative;
    overflow: hidden;
    background: #fff;
    padding: 0 10px;
}
.live .content2 .m_right2 .left{
    width: 50%;
    height: 100%;float: left;
    padding-top: 10px;
}
.live .content2 .m_right2 .left>img{
    width: 100%;height: 100%;
}
.live .content2 .m_right2 .right {
    width: 50%;height:100%;float: left;
}
.live .content2 .m_right2 .right li{
    width:100%;height: 50%;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
}
.live .content2 .m_right2 .right li a{
    width:100%;height:100%;display: block;
    position: relative;
}
.m_right2 a .bi_img {
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    transition: all 0.6s;
}
.m_right2 a .bi_img:hover{
    transform: translate(-10px,0);
}
.m_right2 a .biao1 {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 14px;
    max-width: 130px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}
.m_right2 a .biao2 {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}
.live .content2 .m_right li{
    width: 50%;height: 50%;float: left;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    position: relative;
}
.live .content2 .m_right li a{
    width:100%;height:100%;display: block;
    position: relative;
}
.live .content2 .m_right li:nth-child(2n){
    border-right: 0;
}
.live .content2 .m_right li:nth-child(3){
    border-bottom: 0;
}
.live .content2 .m_right li:nth-child(4){
    border-bottom: 0;
}
.m_right a .biao1 {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 14px;
    max-width: 130px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
}
.m_right a .biao2 {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 12px;
    color: #666;
    max-width: 50px;
    z-index: 1;
}
.m_right a .bi_img {
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    transition: all 0.6s;
}
.m_right a .bi_img:hover{
    transform: translate(-10px,0);
}
.live .content .content2>.con .top2{
    height: 260px;
}

.live .content .content2>.con .bottom{
    width: 100%;height: 150px;padding: 10px 10px;
    display: flex;
}

.live .content .content2>.con .bottom>li{
    justify-content: space-between;
    float: left;width: 32%;
    margin-right: 10px;height: 130px;
    overflow: hidden;
}
.live .content .content2>.con .bottom>li a{
    width: 100%;height: 130px;
}

.bb_img{
    width: 100%;height: 100%;
}
.live .content .content2>.con .bottom>li:nth-child(3){
    margin-right: 0;
}

.b_logo_box{
    width: 100%;height: 37px;
    padding: 0 10px;
    margin: 10px  0;
   overflow: hidden;
   position: relative;
}
.b_logo{
  width: 570px;height: 100%; display: flex;
  position: absolute;
  left: 0;
  top: 0;
}
.b_logo li{
    justify-content: space-between;
    width: 98px;height: 26px;
    border-right: 1px solid #DEDFE0;text-align: center;
}
.b_logo li>a{
    width: 97px;height: 20px;
}
.b_logo li>a>img{
    width: 70px;height:26px;
}
.b_logo_box li>a>img {
    width: 70px;
    height: 26px;
}
.jdg{
    background: #8C6DA0;
}

.live .content .shuma {
    width: 100%;
    height: 58px;
    background: #4489A7;
    padding: 16px 20px 16px 25px;
}
.live .content .shuma>.title {
    float: left;
    font-size: 22px;
    color: #fff;
    height: 26px;
    line-height: 30px;
    /* max-width: 100px; */
    font-family: 微软雅黑;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.live .content .shuma .dh {
    width: 1000px;
    float: right;
    height: 28px;
    text-align: right;
    overflow: hidden;
}
.live .content .shuma .dh .item {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    border-color: #77B6C3;
    background: #69A0B8;
}
.live .content .shuma  .ewm1 {
    float: left;
    position: relative;
    height: 26px;
    z-index: 10;
    margin-left: 15px;
    padding-top: 7px;
}

.live .content .shuma .dh .itemchi {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    border-color:#F9D661;
    background: #ECB326;
    cursor: pointer;
}

.live .content .shuma .dh .itemchi:hover{
     border-color: #fff;
}
.live .content2 .top .dh .item:hover{
     border-color: #fff;
}
.live .content2 .con2 .top .dh2 .item:hover{
     border-color: #fff;
}
.live .content .shuma .dh .item:hover{
     border-color: #fff;
}
.live .content .content2>.con2 {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 10px;
    justify-content: space-between;
    background: #fff;
}
.live .content2 .con2 .m_right>li {
    width: 100%;
    height: 50%;clear: both;
    border-bottom: 1px solid #E6E6E6;
    border-right: 0;
    position: relative;
}
.live .content2 .con2 .m_right {
    float: left;
    width: 187px;
    height: 260px;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.live .content2 .con2 .top2>.m_left {
    float: left;
    width: 183px;
    height: 250px;
    overflow: hidden;
    margin-right: 10px;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 10px;
}

.live .content .content2>.con2 .bottom2 {
    width: 100%;
    height: 150px;
    padding: 10px 10px;
    display: flex;
}
.live .content .content2>.con2 .bottom>li {
    justify-content: space-between;
    float: left;
    width: 48.5%;
    margin-right: 10px;
    height: 130px;
}
.live .content .content2>.con2 .bottom>li:nth-child(2){
    margin-right: 0;
}
.live .content2 .con2 .m_right>li:nth-child(2){
    border-bottom: 0;
}
.live .content2 .con2 .top{
    width: 100%;
    height: 58px;
    background: #9A4475;
    padding: 16px 20px 16px 25px;
}
.live .content2 .con2 .top .dh2 {
    width: 200px;
    float: right;
    max-width: 440px;
    height: 28px;
    text-align: right;
    overflow: hidden;
}
.live .content2 .con2 .top .dh2 .item {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    border-color: #c187af;
    background: #B06991;
}

.shopping{
    width: 100%;height:195px;background: #F6F6F6;
}
.shopping_con{
    width: 1190px;height: 100%;margin: 0 auto;
}
.shopping>.shopping_con>.top {
    overflow: hidden;
    padding: 0 0 20px;
    height: 54px;
    background: url('../img/pzdian.png') repeat-x 0 18px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}
.shopping_bt {
    display: block;
    background: #F6F6F6;
    overflow: hidden;
    padding: 0 0 20px;
    height: 54px;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    margin: 0 auto;
    width: 200px;
}
.shopping_con .main{
    width: 100%;height: 170px;
    padding-bottom: 30px;
    display: flex;padding: 0 5px;
    overflow: hidden;
}
.shopping_con .main>li{
    justify-content: space-between;
    width: 16%;height: 100%;margin-right: 4px;
    position: relative;
}
.shopping_con .main>li .pm_mask{
    width: 100%;height: 64px;background: #916C56;
    position: absolute;
    left: 0;bottom: 0;
    opacity: 0.9;
    color: #fff;
    text-align: center;
}
.shopping_con .main>li:nth-child(7){margin-right: 0}
.shopping_con .main>li a{
    width: 160px;height: 140px;position: relative;
}
.shopping_con .main>li a img{
    width: 160px;height: 140px;
}
.sfpm{
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    margin-top:10px;
}
.gkpm {
    font-size: 12px;
    padding: 0 10px;
    margin-top: 0;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 20px;
}

.see_content{
    width: 100%;
    height: 327px;
    display: flex;
}
.see_content>li{
    width:230px;height: 315px;
    justify-content: space-between;
    margin-right: 10px;background:#fff;
    padding: 4px;
}
.see_content>li:hover{
    border: 1px solid red;
}
.see_content>li:nth-child(5n){
    margin-right: 0;
}
.more_photo {
    display: inline-block;
    width: auto;
    height: 220px;
    background-color: #f7f7f7;
}
.more_info {
    padding: 10px;
    text-align: left;
}
.more_info {
    padding: 10px;
    text-align: left;
    font-size: 10px;
}
.more_info_name {
    overflow: hidden;
    margin-bottom: 5px;
    height: 34px;
    width: 99%;font-size: 10px;
}
.more_info_price {
    font-size: 12px;
    color: #f10214;
 }
.mod_price {
    font-size: 14px;
}

.mod_service {
    padding: 30px 0;
    border-bottom: 1px solid #dedede;
    height: 103px;
    background: #EAEAEA;
    border-bottom: 1px solid #DEDEDE;
}
.mod_service .con{
    width: 1190px;height: 100%;
    margin: 0 auto;
}
.mod_service_item {
    float: left;
    width: 297px;
    line-height: 42px;
    height: 42px;
    padding-left: 45px;
}

.mod_service_item .icon{
    position: relative;
    margin: 0 auto;
    width: 180px;
    float: left;
    width: 36px;height: 43px;
}
.mod_service_txt {
    overflow: hidden;
    width: 77%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
    float: left;
    margin-left: 10px;
    font-weight: bold;
}
.help {
    width: 100%;height: 205px;
    background: #EAEAEA;
    padding: 4px 0 20px 0px;
}
.help .content{
    padding: 20px;
    width: 1190px;height: 100%;margin:  0 auto;display: flex;
}
.help .content>li{
    width: 20%;height: 100%;justify-content: space-between;text-align: left;font-size: 12px;
    font-family: 微软雅黑;color: #666666;
}
.help .content .fuwuul>li>a{
    height: 22px;line-height: 22px;
}
.bian{
    font-size: 15px;color: #000;font-weight:bold;
}


.copy{
    width: 100%;height: 228px;background: #EAEAEA;font-size: 10px;
}
.copy .content{
    width: 1190px;height: 100%;margin: 0 auto;padding: 20px;
}
.btt{width: 100%;text-align: center;line-height: 33px;}
.btt>a{width: 67px;height: 20px;text-align: center;line-height: 20px;display: inline-block;}
.copy .content .bottom{
    width: 67%;height: 47px;margin-top: 10px;margin: 0 auto ;text-align: center;
}
.copy .content .bottom img{
    width: 103px;height: 32px;margin-right: 10px;
}
.copy .content .bottom .logo{
    width:128px;height: 47px;float: right;
}

/* 左侧固定 */
.lift {
    /* display: none; */
    position: fixed;
    z-index: 100;
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    background-color: #918888;
    width: 34px;height: 534px;
    left: 50%;
    margin-left: -660px;
}
.lift_list{
    width: 100%;height: 100%;overflow: hidden;
}
.lift_list li{
    width: 100%;height: 50px;border-top: 1px solid #B1AAAA;
    text-align: center;
}
.lift_list>li>a{
    width:34px;height: 50px;
    font-size: 10px;color: #fff;text-align: center;
    line-height: 24px;
    position: relative;
}
.lift_list li:hover{
    background: #D70B1C;
}
.xiaosanjiao {
    -webkit-backface-visibility: hidden;
    position: absolute;
    left: 0;right: 0;
    top: 20px;margin: auto;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color:#fff;
    font-size: 0;
    line-height: 0;
    /* transform-origin: 50% 30%; */
}

.right_bar {
    position: fixed;
    top: 30%;
    right: 50%;
    margin-right: -660px;
    width: 35px;
    height: 250px;
    background: #fff;
    z-index: 2000;
}
.right_bar li{
    width: 100%;height: 38px;
    border-radius: 4px;background: #7A6E6E;
    margin-bottom: 1px;
    position: relative;
 /*    overflow: hidden; */
}
.right_bar li a{
    width: 100%;height: 35px;
    font-size: 10px;color: #fff;text-align: center;
    line-height: 24px;
    position: relative;
}
.right_bar li:hover{
    background: #D70B1C;
}
.right_bar .icon{
    width: 23px;
    height: 23px;
    position: absolute;
    left: 6px;
    right: 0;
    top: 37px;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    color: #fff;
    z-index: 20;
}
.right_bar .icon .icon_des{
    width: 90px;
    height: 38px;
    position: absolute;
    left: -95px;
    top: -7px;
    background: #7A6E6E;
    font-size: 12px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    z-index: -1;
    border-radius: 4px;
    display: none;
    transition: all 1s;
}
.right_bar .icon .icon_des:hover{
   /*  transform: translateX(20px); */
}
.right_bar li:hover .icon_des{
    background: #D70B1C;
}
@keyframes go{
    0%{
        left: 0px;
    }
    100%{
        left: -75px;
    }
}
@keyframes come{
    0%{
        left:-75px;
    }
    100%{
       left: 0;
    }
}
.come{
    animation: go 1s;
}
.go{
    animation: come 1s;
}

  @keyframes leftOut{ /* 移走 */
            0%{left:0;}
            100%{left:-590px;}
        }
        .leftOut{
            animation: leftOut 1s ease-in;/* 加速 */
        }

        /* 进入 */
        @keyframes leftIn{
            0%{left:590px;}
            100%{left:0px;}
        }
        .leftIn{
            animation: leftIn 1s ease-in;/* 加速 */
        }

        @keyframes rightOut{
            0%{left:0px;}
            100%{left:590px;}
        }
        .rightOut{
            animation:rightOut 1s ease-in ;
        }

        @keyframes rightIn{
            0%{left:-590px;}
            100%{left:0px;}
        }
        .rightIn{
            animation:rightIn 1s ease-in ;
        }


        .b_logo li:last-child{
            border-right: 0;
        }

        /*li{*/
            /*width: 16%;*/
            /*float: left;*/
        /*}*/
        ul.b_logo{
                z-index: 25;
                width: 590px;
                height: 100%;
                overflow: hidden;
                float: left;
                background: #fff;
        }
.live .bb_img{
    transition: all 0.5s;
}

.live .bb_img:hover{
    transform: translate(-6px,0);
}
ul.fuwuul >li{
    width:55%;float:left;
    text-align:left;
}
ul.fuwuul >li>a{
    width:100%;
    text-align:left;
}
.b_logo>ul>li{
    text-align: center;
    width: 16%;
    float: left;
}
.b_logo_box>ul>li{
    text-align: center;
    width: 16%;
    float: left;
}