.news{height: 853px;width: 100%;padding:46px 12.5% 0;}
.news .top1{height: 18px;width: 100%;font-size: 10px;position: relative;color: #857766;}
.news .top1 span{margin-left: 9%;color: #000;}
.dian{width: 10px;height: 10px;border-radius: 50%;background: #000;position: absolute;left:7.5%;top:4px;margin:auto;}
.news .top2{height: 30px;width: 100%;font-size: 18px;color: #857766;}
.news .top2 span{height: 30px;width: 100%;color:#D08C1E;margin-left: 8.5%;}
.news_bt{font-size: 35px;text-align: center;font-family: Georgia;position: relative;}
.news_bt_tiao,.news_bt_tiao2{width: 10.375%;height: 1px;background: #E4E2E2;position: absolute;top:23px;margin:auto;}
.news_bt_tiao{left:18%;}
.news_bt_tiao2{right:18%;}
.news_bt2{height: 62px;text-align: center;font-size: 24px;font-family:苹方;color: #D08C1E;font-weight: bold;line-height: 62px;}
.news .news_content{height: 580px;width: 100%;position: relative;}
.news .news_content .under{height: 71%;width: 100%;position: relative;}
.news .news_content .under ul.left{display: flex;width: 100%;height: 100%;padding:0;border:1px solid #584839;}
.news .news_content .under ul.left li{text-align: center;height:100%;width: 100%;justify-content: space-between;}
.news .news_content .under li:nth-child(2){}
.active_price{height: 9%;width: 100%;text-align: center;font-size: 20px;color: #584839}
.active_price span{color: #d08c1e;}
.active_price2{height: 26px;width: 100%;text-align: center;font-size: 18.7px;color: #584839;font-family: Georgia;letter-spacing: 1px;}
.cake{height: 300px;width: 100%;text-align: left;padding-left:0;padding-top: 10px;}
.cake p{width: 40%;font-size:18px;color: #584839;letter-spacing: 1px;line-height:44px;margin:0 auto;}
.cake .buy{height: 30px;width: 40%;font-size:18px;color: #fff;letter-spacing: 1px;line-height:30px;margin:0 auto;
			background: #584839;border-radius: 5%;text-align: center;margin-top: 30px;}
.buy_mi {
    color: #fff;border-radius: 3px;
    height: 473px;
    width: 336.58px;
    background: #584839;
    position: absolute;
    left: 0;
    right: 0;
    top: -31px;
    margin: auto;box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.1);
}
.buy_mi p{width: 40%;font-size:18px;color: #fff;letter-spacing: 1px;line-height:44px;margin:0 auto;transition: all 0.5s;}
.buy_mi .buy{height: 30px;width: 40%;font-size:18px;background: #fff;letter-spacing: 1px;line-height:30px;margin:0 auto;color: #584839;border-radius: 5%;text-align: center;margin-top: 30px;}
.a_price2{height: 9%;width: 100%;text-align: center;font-size: 20px;color: #fff}
.aa2{height: 26px;width: 100%;text-align: center;font-size: 18.7px;color: #fff;font-family: Georgia;letter-spacing: 1px;}

.a_price2 span{color: #d08c1e;}
/* 今日推荐开始 */
.today{width: 100%;height: auto;}
.today_bt1{font-size: 20px;font-family: Georgia;font-weight: bold;text-align: center;line-height: 40px;}
.today_bt2{font-size:18px;font-family: 苹方;font-weight: bold;text-align: center;line-height: 20px;color: #d08c1e}
.today_content{width: 100%;height: 350px;margin-bottom: 100px;overflow: hidden}
.today_c_left{width: 50%;height: 100%;float: left;position: relative;border-right: 10px solid #584839;padding-right: 10px;}
.bian{width: 66.75%;height: 1px;background: #816953;position: absolute;left:0;right:0;top:0;margin:auto;}
.today_c_left .bt1{line-height: 70px;height: 70px;width: 100%;text-align: right;
					font-size: 21px;font-family: Georgia;font-weight: bold;font-style: normal;}
.today_c_left .bt2{
    line-height: 35px;
    height: 35px;
    width: 100%;
    text-align: right;
    font-size: 22px;
    font-family: 苹方;
    color: #bf952e;
    font-weight: bold;
}
.today_c_left .des{text-align: right;line-height: 35px;height: 35px;width: 57%;font-size: 16px;font-family: Georgia;color: #535353;letter-spacing: 1px;float: right;}
.today_c_right{width: 45.6%;height: 100%;float: right;}
.to_price{color: #d08c1e;text-align: right;font-size: 15px;}
/* 今日推荐结束 */
.l{text-align: left;}

.buy_mi>p:hover{
    background: #fff;color:#584839;cursor: pointer;
}
.buy_mi .buy:hover{
    background:#584839;color:#fff;cursor: pointer;
}
.cake>p:hover{
    background:#584839;color:#fff;cursor: pointer;
}
*{margin:0;padding:0}
.btn .submit:hover{
    background: #FFBA03;color:#fff;cursor: pointer;
}