*{margin:0;padding:0;}
		html,body{
			height: 100%;overflow: hidden;
			background: url("../img/putao.jpg") left center no-repeat;
			background-size: 80% 95%;
		}
		.scene{
			width: 1000px;height: 100%;margin: 0 auto;
			position: relative;
		}

		.mask{
			width: 100%;height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: rgba(0, 0, 0, 0.8);
			z-index: 10;
			display: none;
		}
		.main{width: 800px;height: 100%;float: left;position: relative;
			/*background:url('../img/bg.png') center center no-repeat;*/
			/*background-size: 160%;*/
		}
		.control{
			width: 200px;height: 100%;
			background:url("../img/right.jpg") left top no-repeat;
			background-size: 100%;
			float: left;}
		.box{width: 80%;height: 50px;margin:40px auto;}
		.box .name{height: 20px;text-align: center;line-height: 20px;}
		.score,.state,.live{width: 80%;height: 30px;background: lightpink;margin:0 auto;
			text-align: center;
			line-height: 35px;
			color: #fff;}
		.live{
			color: #fff;
			font-size: 20px;
		}
		.letter{
			width: 80px;height: 80px;text-align: center;line-height: 80px;font-size: 30px;
			font-weight: bold;
			position: absolute;
			background-size: 100%;
		}
		.btn{width: 80%;height: 30px;border-radius: 10px;background: limegreen;
				color: #fff;text-align: center;line-height: 30px;font-size: 20px;
				cursor: pointer;margin:40px auto;

			}
		.start{
			background: url('../img/start.png') center center no-repeat;
			background-size: 100%;
		}
		.stop{}
		.pause{}
		*{user-select: none;box-sizing: border-box;color:#fff;}

		.rank {
    		width: 180px;
   		 	height: 0;
    		border: 1px solid black;
    		position: absolute;
    		top: 64px;
    		left: 2px;
    		z-index: 10;
    		font-size: 13px;
   		 	overflow: hidden;
    		 background: lightskyblue;
		}
		.rank td{width: 100px;height: 30px;}

		.select{
			width: 100px;height: 30px;text-align: center;background: lightseagreen;line-height: 30px;color: #fff;
			position: absolute;
			top: 250px;left: 20px;z-index: 5;border: none;
		}
		#live{
			color: #fff;
		}
		.rankp {
    		font-size: 18px;
    		z-index: 120;
    		margin-left: 61px;
    		margin-top: 30px;
    		width: 200px;
    		height: 40px;
    		position: absolute;
		}
		.live{
			background: url('../img/life.png') center center no-repeat;
			background-size: 100%;
		}
		.score,.state{
			background: url('../img/scor.png') center center no-repeat;
			background-size: 100%;
		}

		.zanting{
			width: 839px;height: 420px;overflow: hidden;margin: 0 auto;
			position: absolute;top:0;bottom:0;left: 0;right: 0;margin: auto;z-index: 300;
			display: none;
		}
		.zanting>img{
			width: 839px;height: 420px;
		}
		.stabtn, .stopbtn {
    		width: 120px;
    		height: 120px;
    		/* border-radius: 50%; */
    		position: absolute;
    		top: 200px;
    		background-size: 100%;
    		transform-origin: center center;
    		transition: all 1s;

		}
		.stabtn{
			left: 200px;
			background: url('../img/restart.png') center center no-repeat;
			background-size: 100%;

		}
		.stopbtn{
			right: 200px;
			background: url('../img/stop.png') center center no-repeat;
			background-size: 100%;
		}

		.stabtn:hover{
			transform:rotate(360deg);
		}
		.stopbtn:hover{
			transform:rotate(360deg);
		}

		.kaishi{
			width: 100%;height: 100%;
			background: url('../img/bg.png') center center no-repeat;
			/* display: none; */
		}

		.kaishi .logo{
			margin: 0 auto;
		}